<table mat-table [dataSource]="todos$" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let todo">{{todo.id}}</td>
  </ng-container>

  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef>User ID</th>
    <td mat-cell *matCellDef="let todo">{{todo.userId}}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let todo">{{todo.title}}</td>
  </ng-container>

  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef>Completed</th>
    <td mat-cell *matCellDef="let todo">{{todo.completed}}</td>
  </ng-container>

  <ng-container matColumnDef="checkCompleted">
    <th mat-header-cell *matHeaderCellDef>Completed</th>

    <td mat-cell *matCellDef="let todo">
      <!-- <mat-checkbox [checked]="todo.completed"></mat-checkbox>-->
      <mat-checkbox [(ngModel)]="todo.completed"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let todo">
      <button matIconButton (click)="delete(todo)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <ul>
  @for (todo of todos$|async ; track todo.id) {
    <li>{{todo.title}}</li>
   }
</ul> -->
